body {
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    font-size: var(--font-size);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}
button {
    border: none;
    cursor: pointer;
}

ul {
    padding-inline-start: 0;
    margin: 0;
}

footer {
    background: #2f303a;
}
