.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-logobot1 {
  width: 0.875em;
}

.icon-logobot2 {
  width: 0.78125em;
}

.icon-logobot3 {
  width: 1.0625em;
}

.icon-logobot4 {
  width: 2.03125em;
}

.icon-logobot5 {
  width: 1.34375em;
}

.icon-logobot6 {
  width: 2.09375em;
}
